@use 'foundation'
main
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    @media ( min-width: 992px )
        align-items: flex-start
        justify-content: space-around
        flex-direction: row

    
.form, .info
    width: 80%
    max-width: 800px
.form
    padding: 40px 20px
    border-radius: 10px
    background-color: foundation.$primary

address
    font-style: normal
.info
    &__link
        display: block
iframe
    border:0
              